# Ignore everything INSIDE each subdirectory of SamplePrograms
SamplePrograms/*/*

# But do NOT ignore the subdirectories themselves, so we can un-ignore files inside them
!SamplePrograms/*/

# Now, allow for the main files
!SamplePrograms/*/main.c
!SamplePrograms/*/main.cpp

StaticAnalyzer/__pycache__/*
Legacy/*
Ghidra/*